{% extends 'base.html.twig' %}

{% block title %}{{ location.titre }}{% endblock %}

{% block body %}

 <h1>{{ location.titre }}</h1>
 <hr>
 <h2>Disponible à partir de {{ location.dispodate|date('Y-m-d') }}</h2> 
 <hr>
 <h3>Crée Par : <br>{{ location.owner.firstname }} {{ location.owner.lastname }}</h3>
 <hr>
 <h4>Capacité Maximale : <br>{{ location.capacity }}</h4>
<hr>
 <p>Description <br>{{ location.description }}</p>
 <hr>
 {# <p>Membres : </p>
 {% if location.members %}
 {% for member in location.members %}
          <tr>
            <td>{{ member.firstname }} {{ member.lastname }}</td>
            <td>{{ member.mobile }}</td>
            
          </tr>
        {% endfor %}
        <hr>
        {% else %}
        <p>Aucun Membre à Afficher</p> 
        {% endif %} #}
 <p>Photos : </p>
 {% if location.images %}
 {% for image in location.images %}
          <tr>
          
            <img src="{{ asset('/uploads/'~image.name) }}" width="300" alt="" >
            
          </tr>
        {% endfor %}
        {% else %}
        <p>Aucune Photo à Afficher</p> 
        {% endif %}
 <br>       
 <a href="/location">Retourner</a>
{% endblock %}
